USE [SMARTWASTEAI]
GO
/****** Object:  User [SmartWasteAdmin]    Script Date: 28.12.2025 05:10:57 ******/
CREATE USER [SmartWasteAdmin] FOR LOGIN [SmartWasteAdmin] WITH DEFAULT_SCHEMA=[sw_ai]
GO
ALTER ROLE [db_owner] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [SmartWasteAdmin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [SmartWasteAdmin]
GO
/****** Object:  Schema [sw_ai]    Script Date: 28.12.2025 05:10:57 ******/
CREATE SCHEMA [sw_ai]
GO
/****** Object:  Table [sw_ai].[araclar]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[araclar](
	[id] [int] NOT NULL,
	[isim] [nvarchar](50) NULL,
	[tip] [nvarchar](50) NOT NULL,
	[kapasiteM3] [float] NOT NULL,
	[kapasiteTon] [float] NOT NULL,
	[doluKapasiteM3] [float] NULL,
	[doluKapasiteTon] [float] NULL,
 CONSTRAINT [PK_araclar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[isEmriGecmis]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[isEmriGecmis](
	[id] [int] NOT NULL,
	[mahalleId] [int] NOT NULL,
	[aracId] [int] NOT NULL,
	[bitisTarih] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[isEmriMahalle]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[isEmriMahalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mahalleId] [int] NOT NULL,
	[aracId] [int] NOT NULL,
 CONSTRAINT [PK_isEmriMahalle] PRIMARY KEY CLUSTERED 
(
	[mahalleId] ASC,
	[aracId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[konteyner]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[konteyner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mahalleId] [int] NOT NULL,
	[enlem] [decimal](18, 9) NULL,
	[boylam] [decimal](18, 9) NULL,
	[tip] [int] NULL,
	[kapasiteM3] [float] NULL,
	[kapasiteTon] [float] NULL,
	[adres] [nvarchar](200) NULL,
 CONSTRAINT [PK_konteyner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[kullaniciHesap]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[kullaniciHesap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciadi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[tip] [int] NOT NULL,
 CONSTRAINT [PK_kullaniciHesap] PRIMARY KEY CLUSTERED 
(
	[kullaniciadi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[mahalle]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[mahalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mahalle] [nchar](50) NOT NULL,
	[kontYeralti] [int] NULL,
	[kont770] [int] NULL,
	[kont400] [int] NULL,
	[kontPlastik] [int] NULL,
	[toplamKont]  AS (((isnull([kontYeralti],(0))+isnull([kont770],(0)))+isnull([kont400],(0)))+isnull([kontPlastik],(0))),
 CONSTRAINT [PK_mahalle] PRIMARY KEY CLUSTERED 
(
	[mahalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sw_ai].[toplamaGecmisi]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sw_ai].[toplamaGecmisi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[konteynerId] [int] NOT NULL,
	[aracId] [int] NOT NULL,
	[tarih] [datetime] NULL,
 CONSTRAINT [PK_toplamaGecmisi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [sw_ai].[isEmriGecmis] ADD  CONSTRAINT [DF_isEmriGecmis_bitisTarih]  DEFAULT (getdate()) FOR [bitisTarih]
GO
ALTER TABLE [sw_ai].[toplamaGecmisi] ADD  CONSTRAINT [DF_toplamaGecmisi_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [sw_ai].[isEmriMahalle]  WITH CHECK ADD  CONSTRAINT [FK_isEmriMahalle_araclar] FOREIGN KEY([aracId])
REFERENCES [sw_ai].[araclar] ([id])
GO
ALTER TABLE [sw_ai].[isEmriMahalle] CHECK CONSTRAINT [FK_isEmriMahalle_araclar]
GO
ALTER TABLE [sw_ai].[isEmriMahalle]  WITH CHECK ADD  CONSTRAINT [FK_isEmriMahalle_mahalle] FOREIGN KEY([mahalleId])
REFERENCES [sw_ai].[mahalle] ([id])
GO
ALTER TABLE [sw_ai].[isEmriMahalle] CHECK CONSTRAINT [FK_isEmriMahalle_mahalle]
GO
ALTER TABLE [sw_ai].[toplamaGecmisi]  WITH CHECK ADD  CONSTRAINT [FK_ToplamGecmisi_Araclar] FOREIGN KEY([aracId])
REFERENCES [sw_ai].[araclar] ([id])
GO
ALTER TABLE [sw_ai].[toplamaGecmisi] CHECK CONSTRAINT [FK_ToplamGecmisi_Araclar]
GO
ALTER TABLE [sw_ai].[toplamaGecmisi]  WITH CHECK ADD  CONSTRAINT [FK_ToplamGecmisi_Konteyner] FOREIGN KEY([konteynerId])
REFERENCES [sw_ai].[konteyner] ([id])
GO
ALTER TABLE [sw_ai].[toplamaGecmisi] CHECK CONSTRAINT [FK_ToplamGecmisi_Konteyner]
GO
ALTER TABLE [sw_ai].[araclar]  WITH CHECK ADD  CONSTRAINT [CK_araclar] CHECK  (([tip]='Crane Vehicle' OR [tip]='Large Garbage Truck' OR [tip]='Small Garbage Truck'))
GO
ALTER TABLE [sw_ai].[araclar] CHECK CONSTRAINT [CK_araclar]
GO
/****** Object:  StoredProcedure [sw_ai].[sp_RfidIslem]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [sw_ai].[sp_RfidIslem]
    @konteynerId INT,
    @aracId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @gelenM3 DECIMAL(10,2);
    DECLARE @gelenTon DECIMAL(10,2);

    -- 1. Konteynerin kapasite bilgilerini öğren
    SELECT 
        @gelenM3 = kapasiteM3, 
        @gelenTon = kapasiteTon
    FROM sw_ai.konteyner 
    WHERE id = @konteynerId;

    -- Eğer konteyner yoksa işlem yapma
    IF @gelenM3 IS NULL 
    BEGIN
        PRINT 'HATA: Belirtilen ID ile konteyner bulunamadı.';
        RETURN;
    END

    -- 2. Toplama Geçmişine Kayıt At
    INSERT INTO sw_ai.toplamaGecmisi (konteynerId, aracId, tarih)
    VALUES (@konteynerId, @aracId, GETDATE());

    -- 3. Araçlar Tablosunu Güncelle (Sadece DOLU KAPASİTE artacak)
    UPDATE sw_ai.araclar
    SET 
        -- Mevcut doluluğun üzerine konteynerin hacmini ekle
        doluKapasiteM3 = ISNULL(doluKapasiteM3, 0) + @gelenM3,
        doluKapasiteTon = ISNULL(doluKapasiteTon, 0) + @gelenTon
    WHERE id = @aracId;

    PRINT 'RFID İşlemi Tamam: Geçmiş eklendi, araç doluluğu arttırıldı.';
END

GO
/****** Object:  StoredProcedure [sw_ai].[sp_ToplanacaklariGetir]    Script Date: 28.12.2025 05:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [sw_ai].[sp_ToplanacaklariGetir]
    @mahalleId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        k.id,
        k.mahalleId,
        k.enlem,
        k.boylam,
        k.tip,
        k.kapasiteM3,
        k.kapasiteTon
    FROM sw_ai.konteyner k
    WHERE 
        k.mahalleId = @mahalleId 
        AND NOT EXISTS (
            -- BURADAKİ MANTIK ŞU:
            -- "Bu konteynerin son 10 saat içinde atılmış bir kaydı VAR MI?"
            -- Cevap "YOK" ise (Hiç kaydı yoksa VEYA kaydı eski ise) listeye dahil et.
            SELECT 1 
            FROM sw_ai.toplamaGecmisi tg
            WHERE tg.konteynerId = k.id
            AND tg.tarih >= DATEADD(HOUR, -10, GETDATE())
        );
END

GO
